h3= section_title

h4 Preview

p!= component(slug, data)

h4 HTML code

pre.code= htmlFormat(component(slug, data))

h4 Component call

pre.code
  | component('#{slug}', <b>{as below}</b>)
  .component-data
    | #{jsonFormat(data)}

