h2= section_title

h3 Preview
p!= component(slug, data)

h3 HTML code
pre.code= htmlFormat(component(slug, data))

h3 Component call
pre.code
  | component('#{slug}', <b>{as below}</b>)
  .component-data
    | #{jsonFormat(data)}

